<div class="container" style="width: 40%">
  <h4 class="text-center"></h4>
  <form>
      <div class="form-group">
          <h1 class="text-center">
              <a href = "#">Restaurant Login</a>
          </h1>
        <br><br>
          <label class="form-label"> Email-Id</label>
          <input type="email" class="form-control">
      </div>

      <div class="form-group">
              <label class="form-label"> Password</label>
              <input type="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-block btn-primary">Login</button>
          <br>

          <h6 class="text-center">
          <a href = "#">Or Login With</a>
      </h6>

      <br><br>

      <div class="container">
         <a href = "#"><img src="assets/images/GitHub-Mark.png" class="img-responsive"
           width="180px" height="100px"/></a>
           <a href = "#"> <img src="assets/images/linked.png" class="img-responsive float-right"
          width="180px" height="100px"/></a>
          </div>
  </form>
</div>
